# Chapter 04 Exercises

In [1]:
# Write the code for the libraries you use to complete the assignment
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# The Black Death (Q1 and Q2)

In the middle of the fourteenth century, and epidemic known as the Black Death killed about a third of Europe's population, about 34 million people. While this was an enormous tragedy, the macroeconomic consequences might surprise you: over the next century, wages are estimated to have been *higher* than before the Black Death. Questions 1 and 2 will help you gain an understanding as to why this happened.



## Q1) Solving the production model

Before answering any questions about the Black Death, let's first build an understanding of the production function. Suppose the production function is given by $ Y = \bar{A}K^{\alpha}L^{1-\alpha}$. This is a general version of the production function we've been working with, where $\alpha$ is the "capital share of output."

**(a)** Using pencil and paper (you don't have to enter the answer here), create a new version of Table 4.1 (pg. 76) for the model using this more general production function. What are the five equations and five unknowns? (*Hint*: The hiring rules for capital and labor will change in the obvious way.)

### Answer:


* MPK: $
\frac{\partial Y}{\partial K} = \alpha \ \bar{A} K^{\alpha - 1} L ^{1 - \alpha} = \alpha \frac{\bar{A}K^\alpha L^{\alpha - 1}}{K} = \alpha \frac{Y}{K}
$

* MPL: $
\frac{\partial Y}{\partial L} = (1 - \alpha) \bar{A}K^{\alpha}L^{1 - \alpha - 1} = (1 - \alpha) \bar{A}K^{\alpha}L^{1 - \alpha}L^{-1} = (1 - \alpha)\frac{Y}{L}
$




| Description             | Formula                             |
|-------------------------|-------------------------------------|
| Production function     | $Y \text{ = } \bar{A}K^{\alpha}L^{1 - \alpha}$ | 
| Rule for hiring capital | $\alpha\cdot \frac{Y}{K} \text{=} r \space$ |
| Rule for hiring labor   | $1 - \alpha \frac{Y}{L} \text{=} \omega$ |
| Demand $=$ Supply for capital | $K = \bar{K}$ |
| Demand $=$ supply for labor | $L = \bar{L}$ |

**(b)** What is the solution for the equilibrium level of output per person? Let $\bar{A} = 1$, $L = 200$, $K = 200$, $\alpha = 1/3$. 
Do this problem by hand, and input your solution below.

In [2]:
#  YL = Y/L
YL = (1 * 200**(1/3) * 200**(2/3) ) / 200
print(YL)

0.9999999999999996

**(d)** How does changing the level of alpha ($\bar{A}$) affect the equilibrium level of output, rental rate of capital, and wages? Try $\bar{A}$={0.5, 0.75, 1.25, 1.5}. Do this in Python.

In [3]:
#  A = {0.5, 0.75, 1.25, 1.5}
A = np.array([0.5, 0.75, 1.25, 1.5])

#   Level of output
YL1 = (A * 200**(1/3) * 200**(2/3)) - 1
print(YL1)

#   rental rate of capital
R = 1/3 * A * (200/200)**2/3
print(R)

#   wages
W = 2/3 * A * (200/200)**(1/3)
print(W)

[ 99. 149. 249. 299.]
[0.05555556 0.08333333 0.13888889 0.16666667]
[0.33333333 0.5        0.83333333 1.        ]

## Q2) 

  **(a)** Show numerically how much wages would rise if a third of the population died from disease. Assume $\bar{A} = 1$, $L = 200$, $K = 200$, $\alpha = 1/3$, $Y = \bar{A}K^{1/3}L^{2/3}$ before the black plague.

In [4]:
#   Before
wo = 1 * 2/3 *(200/200)**(1/3)

#   After
w1 = 1 * 2/3 * (200/ (200*2/3))**(1/3)

print(w1)
print(wo)

#   difference
print(w1 - wo)

print("%",w1/wo * 100 - 100,"rose")

0.7631428283688879
0.6666666666666666
0.09647616170222129
% 14.47142425533319 rose

**(b)** Suppose that instead of the black plague there was an alien invasion of Europe that didn't kill anyone, but instead brought in new technology. How much would TFP have to increase to raise wages as much as the black plague?

In [5]:
#   What is A
#   w1 = A * 2/3 * (200/200)**(1/3)
A = w1 * 3/2 * (200/200)**(-1/3)
A1 = 1 * (3/2)**(1/3)
print("TFP needs to be", A)
print(A1)

TFP needs to be 1.1447142425533319
1.1447142425533319

# Q3) The empirical fit of the production model

The table on page 99 of the book (or shown below in the Pandas data frame) reports per capita GDP and capital per person in the year 2014 for 10 countries. __Your task is to fill in the missing columns of the data frame by completing steps a) thorugh d).__

In [6]:
# Run this code to create the data frame!
countries = ['United States', 'Canada', 'France', 'Hong Kong', 'South Korea', 'Indonesia', 'Argentina', 'Mexico', 'Kenya', 'Ethiopia']
capital_per_person1 = [141841, 128667, 162207, 159247, 120472, 41044, 53821, 45039, 4686, 3227]
per_capita_GDP2 = [51895, 43367, 37360, 45095, 34961, 9797, 20074, 15521, 2971, 1505]
capital_per_person3 = [1.0, '', '', '', '', '', '', '', '', '']
per_capita_GDP4 = [1.0, '', '', '', '', '', '', '', '', '']
predicted_y = [1.0, '', '', '', '', '', '', '', '', '']
implied_TFP = [1.0, '', '', '', '', '', '', '', '', '']

df = pd.DataFrame({'Country(0)':countries, 
                   'Capital per person(1)':capital_per_person1, 
                   'Per capita GDP(2)':per_capita_GDP2, 
                   'Capital per person(3)':capital_per_person3, 
                   'Per capita GDP(4)':per_capita_GDP4, 
                   'Predicted y*(5)':predicted_y, 
                   'Implied TFP(6)':implied_TFP}, columns=['Country(0)', 'Capital per person(1)', 'Per capita GDP(2)', 'Capital per person(3)', 'Per capita GDP(4)', 'Predicted y*(5)', 'Implied TFP(6)'])
df

,Country(0),Capital per person(1),Per capita GDP(2),Capital per person(3),Per capita GDP(4),Predicted y*(5),Implied TFP(6)
0,United States,141841,51895,1,1,1,1
1,Canada,128667,43367,,,,
2,France,162207,37360,,,,
3,Hong Kong,159247,45095,,,,
4,South Korea,120472,34961,,,,
5,Indonesia,41044,9797,,,,
6,Argentina,53821,20074,,,,
7,Mexico,45039,15521,,,,
8,Kenya,4686,2971,,,,
9,Ethiopia,3227,1505,,,,

**(a)** Given the values in columns 1 and 2 which are in U.S. dollars, fill in columns 3 and 4 which are relative to U.S. values (U.S. = 1). That is, compute per capita GDP and capital per person relative to the U.S. values taking the ratio of each country's value (either Per capita GDP or Capital per Person) to the corresponding US value.

In [7]:
three = df['Capital per person(1)'] / capital_per_person1[0]
df['Capital per person(3)'] = three

df['Per capita GDP(4)'] = df['Per capita GDP(2)'] / per_capita_GDP2[0]
df

,Country(0),Capital per person(1),Per capita GDP(2),Capital per person(3),Per capita GDP(4),Predicted y*(5),Implied TFP(6)
0,United States,141841,51895,1.000000,1.000000,1,1
1,Canada,128667,43367,0.907121,0.835668,,
2,France,162207,37360,1.143583,0.719915,,
3,Hong Kong,159247,45095,1.122715,0.868966,,
4,South Korea,120472,34961,0.849345,0.673687,,
5,Indonesia,41044,9797,0.289366,0.188785,,
6,Argentina,53821,20074,0.379446,0.386820,,
7,Mexico,45039,15521,0.317532,0.299085,,
8,Kenya,4686,2971,0.033037,0.057250,,
9,Ethiopia,3227,1505,0.022751,0.029001,,

**(b)** In column 5, use the production model (with $\alpha=1/3$) to compute predicted per capita GDP for each country relative to the United States. Assume $\bar{A}=1$, which implies there are no TFP differences across countries. This implies the production function is $y^\ast = \bar{A}k^{1/3}$.

In [8]:
#  y = Ak**(1/3) = A * (K/L)**(1/3) = Y/L = AK**(1/3)L**(2/3) / L

y = 1 * df['Capital per person(3)']**(1/3)
df['Predicted y*(5)'] = y
df

,Country(0),Capital per person(1),Per capita GDP(2),Capital per person(3),Per capita GDP(4),Predicted y*(5),Implied TFP(6)
0,United States,141841,51895,1.000000,1.000000,1.000000,1
1,Canada,128667,43367,0.907121,0.835668,0.968029,
2,France,162207,37360,1.143583,0.719915,1.045737,
3,Hong Kong,159247,45095,1.122715,0.868966,1.039337,
4,South Korea,120472,34961,0.849345,0.673687,0.947025,
5,Indonesia,41044,9797,0.289366,0.188785,0.661428,
6,Argentina,53821,20074,0.379446,0.386820,0.723963,
7,Mexico,45039,15521,0.317532,0.299085,0.682227,
8,Kenya,4686,2971,0.033037,0.057250,0.320873,
9,Ethiopia,3227,1505,0.022751,0.029001,0.283356,

**(c)** In column 6, compute the level of TFP that is needed so that the Predicted y* (5) matches Per capital GDP (4)

In [9]:
df['Implied TFP(6)'] = df['Per capita GDP(4)'] * df['Capital per person(3)']**(-1/3)
df

,Country(0),Capital per person(1),Per capita GDP(2),Capital per person(3),Per capita GDP(4),Predicted y*(5),Implied TFP(6)
0,United States,141841,51895,1.000000,1.000000,1.000000,1.000000
1,Canada,128667,43367,0.907121,0.835668,0.968029,0.863268
2,France,162207,37360,1.143583,0.719915,1.045737,0.688428
3,Hong Kong,159247,45095,1.122715,0.868966,1.039337,0.836077
4,South Korea,120472,34961,0.849345,0.673687,0.947025,0.711372
5,Indonesia,41044,9797,0.289366,0.188785,0.661428,0.285420
6,Argentina,53821,20074,0.379446,0.386820,0.723963,0.534308
7,Mexico,45039,15521,0.317532,0.299085,0.682227,0.438395
8,Kenya,4686,2971,0.033037,0.057250,0.320873,0.178420
9,Ethiopia,3227,1505,0.022751,0.029001,0.283356,0.102348

**(d)** Comment on the general results you find.

'Predicted per capita GDP(5)' is a lot axaggerated than the 'Observed per capita GDP(4)'. Because the other countries 'Total Factor Productivity(TFP)' is different, that is not 1(A = 1), with the United State (4) and (5) has differneces. The other countries' Total Factor Productivity is lower than the U.S.

## Q4) The labor share and Cobb-Douglas production 

Below is the code to download the FRED `ch04_labor_compensation.csv` file (see 6(a) code comments) for the share of income paid to labor for the nonfarm business sector of the U.S. economy, back to 1950. (For an introduction to FRED, see the case study "The FRED database" in Chapter 2 on page 34). Press shift + enter to run the code, and then answer the questions underneatch it.

In [14]:
#Press shift + enter to run this code
df = pd.read_csv('https://raw.githubusercontent.com/dylanjm/econ_381_development/master/data/ch04_labor_compensation.csv',
                   header=0, names=['Date', 'Labor Compensation'], index_col = 0) # 'Date' and 'Labor Compensation' are the new column names
print(df)

            Labor Compensation
Date
1950-01-01            0.635634
1951-01-01            0.640813
1952-01-01            0.651878
1953-01-01            0.651648
1954-01-01            0.644531
...                        ...
2010-01-01            0.595232
2011-01-01            0.599838
2012-01-01            0.602019
2013-01-01            0.600111
2014-01-01            0.603597

[65 rows x 1 columns]

**(a)** Create a time series plot of the data you downloaded.

_Hint:  For the plotting consider using the pandas function df.plot where df is the name of your data frame._

In [16]:
#  dates = np.array(df['Date'], dtype = np.datetime64)
dates['Date'] = pd.to_datetime(df['Date'])
date1 = 
LC = np.array(df['Labor Compensation'])
#  plt.plot(dates, LC)
#  plt.show()
df.plot(dates['Date'], LC)

KeyError: 'Date'

**(b)** The graph most likely shows an index (e.g., normalized so the value in some year is 100) rather than the share itself. Assuming the labor averaged $2/3$, approximately what value is the labor share for your most recent data point?

**(c)** What does this graph suggest about the validity of our assumptions that the production function is Cobb-Douglas?